/* ==========================================================================
    Body
   ========================================================================== */

li {
    list-style-type: none;
}

* {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color:#5CA0FF;
    height: auto;
}

div.sitecontainer {
    position: relative;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid black;
    height: auto;
}

.error {
    background-color: #ffadad;
    border: 2px solid red;
    padding: 10px;
    text-align: center;
}

.message {
    background-color: #99ff99;
    border: 2px solid green;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

.errortext {
    color: red;
    font-weight: bold;
    text-align: center;
}

a:visited {
    color: blue;
}

.noadditionalDesign {
    border: none;
    background-color: transparent;
}

.right {
    float: right;
}

/* ==========================================================================
    CSS header.php
   ========================================================================== */

/* Header */
.header img {
    position:absolute;
    top: 20px;
    left:20px;
}

.header {
    width: 100%;
    height:130px;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
}

/* Breadcrumbs */
.path {
    position: absolute;
    top: 60px;
    left: 280px;
    font-size:14px;
    width: auto;
}

.path a {
    color: black;
}

.path a:hover {
    text-decoration:underline;
}

/* Search top */
.search {
    position: absolute;
    top: 60px;
    right: 90px;
    display:inline;
    float:right;
}

#searchBar {
    width: 350px;
}

/* Cart */
.cart {
    position: absolute;
    display:inline;
    top: 40px;
    right: 100px;
}

/* Top navigation (logintool) */
.logintool ul {
    position:absolute;
    margin: 0;
    padding:0;
    top: 20px;
    right: 20px;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    background-color: #77A5FC;
    display: flex;
}

.logintool ul li {
    display: inline;
    border: 1px solid black;
}

.logintool ul li:hover {
    background-color: #B2CAF7;
}

.logintool ul li a {
    padding: 15px;
    color: white;
    text-decoration: none;
}

/* ==========================================================================
    CSS Content and side navigation
   ========================================================================== */

.content_container {
    background-color: white;
    display: flex;
}

.navigation {
    background-color: #5CA0FF;
    width: 300px;
    float: left;
    border: 1px solid black;
    margin: 10px;
    margin-right: 0;
}

.nav {
    padding: 20px;
}

.nav ul {
    list-style-type: none;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.content {
    overflow: hidden;
    padding: 10px;
    border: 1px solid black;
    height: auto;
    margin: 10px;
    width: 100%;
}

/* ==========================================================================
    CSS footer.php
   ========================================================================== */

.footer {
    width: 100%;
    padding: 10px 0;
    background-color: whitesmoke;
    border-top: 1px solid black;
    /*height: 120px;*/
    height: auto;
}

.footer ul {
    margin-left: 50px;
    /*margin-left: 10%;*/
    display: inline-block;
    vertical-align: top;
}

.footer ul a, .footer li a {
    color: black;
    text-decoration: none;
}

.footer ul a:hover, .footer li a:hover {
    text-decoration: underline;
}

.admin_link {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.path a {
    text-decoration: none;
}

/* ==========================================================================
    CSS admin.php
   ========================================================================== */

.adminpnl {
    width: 100%;
    padding: 0;
    background-color: red;
    margin: 10px 0 10px 0;
    text-align: center;
    display:table;
}

.adminpnl li {
    background-color: #33bdef;
    padding: 10px;
    border: 1px solid black;
    display: inline-block;
    width: 25%;
    text-align: center;
    display:table-cell;
}

.currencyinput {
    border: 1px inset #ccc;
}
.currencyinput input {
    border: 0;
}

.category {
    font-weight: bold;
}

.subcategory {
    padding-left: 25px;
}

.longdescription {
    height: 100px;
}

.image {
    height: 200px;
    margin: 0 35% 0 35%;
}

.loginform {
    width: 30%;
    border: 1px solid black;
    padding: 20px;
    padding-bottom: 60px;
}

.loginform input {
    float: right;
}

.loginform button {
    margin-right: 10px;
    margin-top: 10px;
}

.center {
    margin:0 auto;
}

.adminpnl .selected {
    background-color: #4fd8f0
}

.adminpnl a {
    color: white;
    text-decoration: none;
}
/* ==========================================================================
    Catalogue
   ========================================================================== */
.cartAmount[type="number"] 
{
    float: left;
    width: 14em;
}

.CartButton[type="submit"] 
{
    float: left;
    width: 16em;
}

#linkToProduct
{
    float: left;
    margin-top: 2em;
    width: 100%;
}

.leftThumbnailPart
{
    float:left;
    height: 10em;
    width: 10em;
}
.centerThumbnailPart
{
    float:left;
    height: 10em;
    min-width: 20em;
    width: 60%;
}
.rightThumbnailPart
{
    float:left;
    height: 10em;
    min-width: 10em;
    width: 20%;
}

.buy
{
    float: left;
    width: 10em;
    height: 4em;
}

.categoryThumbnail
{
    width: 10em;
    height: 10em;
    /*border: 1px black solid;*/
    float: left;
    margin-left: 1em;
    margin-bottom: 1em;
    background-color: #eeeeee;

    text-decoration: none;
    color: black;
    text-align: center;
}

.categoryThumbnail:hover
{
    -webkit-filter: brightness(1.03);
}

.categoryThumbnail .categoryImage
{
    height: 80%;
    width: 100%;
}

.productThumbnail
{
    width: 100%;
    height: 100%;
    /*border: 1px black solid;*/
    float: left;
    margin-bottom: 1em;

    text-decoration: none;
    color: black;
    text-align: center;
}
.productThumbnail:nth-child(even)
{
    background-color: #eeeeee;
}
.productThumbnail:nth-child(odd)
{
    background-color: #e6e6e6;
}

.productThumbnail:hover
{
    -webkit-filter: brightness(1.03);
}

.productThumbnail .productImage
{
    height: 100%;
    width: 10em;
    float: left;
}

.shortDescription
{
    width: 60%;
    height: 4em;
    float: left;
    overflow: hidden;
}

.productName
{
    float: left;
    height: 20%;
    width: 60%;
}

.productBuy
{
    height: 100%;
    width: 20%;
}

.catalogueHeader
{
    float: left;
    width: 100%;
}
/* ==========================================================================
    Productpage
   ========================================================================== */
#leftProductInfo
{
    height: 20em;
    width: 14em;
    float: left;
}
#centerProductInfo
{
    margin-top: 2em;
    float: left;
    width: 40%;
    min-width: 20em;
}

#rightProductInfo
{
    margin-top: 2em;
    float: left;
    margin-left: 1em;
}
.productInfo
{
    height: 100%;
    width: 100%;
    float: left;
    border: 1px solid black;
}

#productTitle
{
    float: left;
    margin-left: 1em;
}

.productImage
{
    width: 14em;
    height: 14em;
    float: left;
}

.productImage img
{
    width: 100%;
    height: 100%;
}

.description
{
    float: left;
    margin: 1em;
    border: 1px solid blue;
}

/* ==========================================================================
    OrderAndDelivery
   ========================================================================== */

.orderInfo
{
    border: black 1px dotted;
    color: black;
    text-decoration: none;
}

.search form {
    border: none;
}

form {
    border: 1px solid black;
    background-color: whitesmoke;
    margin: 10px 0 0px 0;
}

form div{
    margin: 15px;
    border : none;
}

label {
    display: inline-block;
    width: 25%;
    text-align: right;
    margin: 10px;
    /*vertical-align: middle;*/
}

input[type=text], input[type=password], input[type=file], input[type=tel], input[type=email], select[type=text], textarea[type=text], input[type=number] {
    width: 65%; 
    /*font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;*/
    padding: 5px;
    font-size: 0.9em;
    border-radius: 5px;
    /*background: rgba(0, 0, 0, 0.07);*/
}

input[class=small] {
    width: 50px;
}

/*input[type=text]:focus, input[type=password]:focus{
    background: #FFFFFF;
}*/

/*.button {
    font-size: 1em;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #59B969;
    box-shadow: 0 1px 0 0 #60BD49 inset;
}*/

.button {
    float: right;
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
    background-color:#33bdef;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #057fd0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px -1px 0px #5b6178;
}

.button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
    background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
    background-color:#019ad2;
}