/* ==========================================================================
    Body
   ========================================================================== */

li {
    list-style-type: none;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:#5CA0FF;
    height: auto;
}

div.sitecontainer {
    position: relative;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid black;
    height: auto;
}

/* ==========================================================================
    CSS header.php
   ========================================================================== */

/* Header */
.header img {
    position:absolute;
    top: 20px;
    left:20px;
}

.header {
    width: 100%;
    height:130px;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
}

/* Breadcrumbs */
.path {
    position: absolute;
    top: 60px;
    left: 280px;
    font-size:14px;
    width: auto;
}

.path a {
    color: black;
}

.path a:hover {
    text-decoration:underline;
}

/* Search top */
.search {
    position: absolute;
    top: 60px;
    right: 90px;
    display:inline;
    float:right;
}

#searchBar {
    width: 350px;
}

/* Cart */
.cart {
    position: absolute;
    display:inline;
    top: 40px;
    right: 100px;
}

/* Top navigation (logintool) */
.logintool ul {
    position:absolute;
    margin: 0;
    padding:0;
    top: 20px;
    right: 20px;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    background-color: #77A5FC;
    display: flex;
}

.logintool ul li {
    display: inline;
    border: 1px solid black;
}

.logintool ul li:hover {
    background-color: #B2CAF7;
}

.logintool ul li a {
    padding: 15px;
    color: white;
    text-decoration: none;
}

/* ==========================================================================
    CSS Content and side navigation
   ========================================================================== */

.content_container {
    background-color: white;
    display: flex;
}

.navigation {
    background-color: #5CA0FF;
    width: 300px;
    float: left;
    border: 1px solid black;
    margin: 10px;
    margin-right: 0;
}

.nav {
    padding: 20px;
}

.nav ul {
    list-style-type: none;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.content {
    overflow: hidden;
    padding: 10px;
    border: 1px solid black;
    height: auto;
    margin: 10px;
    width: 100%;
}

/* ==========================================================================
    CSS footer.php
   ========================================================================== */

.footer {
    width: 100%;
    padding: 10px 0;
    background-color: whitesmoke;
    border-top: 1px solid black;
    vertical-align: middle;
    height: 120px;
}

.footer_nav ul {
    float: left;
    width: 20%;
}

.footer_nav ul a {
    color: black;
    text-decoration: none;
}

.footer_nav ul a:hover {
    text-decoration: underline;
}

.admin_link {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* ==========================================================================
    CSS admin.php
   ========================================================================== */

.adminpnl {
    width: 100%;
    padding: 0;
    background-color: red;
    margin: 10px 0 10px 0;
    text-align: center;
    display:table;
}

.adminpnl li {
    background-color: #33bdef;
    padding: 10px;
    border: 1px solid black;
    display: inline-block;
    width: 25%;
    text-align: center;
    display:table-cell;
}

.admin form {
    border: 1px solid black;
    padding: 10px;
    position: relative;
    margin: 10px 0px 10px 0;
    overflow:hidden;
}

.form_button {
    float: right;
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
    background-color:#33bdef;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #057fd0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px -1px 0px #5b6178;
}
.form_button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
    background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
    background-color:#019ad2;
}
.form_button:active {
    position:relative;
    top:1px;
}

.category {
    font-weight: bold;
}

.subcategory {
    padding-left: 25px;
}

.longdescription {
    height: 100px;
}

.image {
    height: 100px;
    margin: 10px;
}

label {
    display:block;
    margin: 10px;
}

.adminpart input, .adminpart select, .adminpart textarea {
    width: 100%;
    margin-bottom: 10px;
}

.small_field {
    width: 50px;
}

.loginform {
    width: 30%;
    border: 1px solid black;
    padding: 20px;
    padding-bottom: 60px;
}

.loginform input {
    float: right;
}

.loginform button {
    margin-right: 10px;
    margin-top: 10px;
}

.center {
    margin:0 auto;
}

.adminpnl .selected {
    /*background-color: #00ffff;*/
    background-color: #4fd8f0
}

.adminpnl a {
    color: white;
    text-decoration: none;
}

/*.adminpnl .selected a {
    color: black;
}*/

.error {
    background-color: #ffadad;
    border: 2px solid red;
    padding: 10px;
    text-align: center;
}